@font-face {
    font-family: "NizamFont";
    src: url("./Assets/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2");
}

* {
    margin: 0;
    padding: 0;
    font-family: "NizamFont";
}

.Line1 h3 {
    margin-top: 10px;
    font-weight: 300;
    text-align: center;
    color: gray;
    font-size: 13pt;
}

.Line1 hr,
.Line2 hr {
    margin-top: 10px;
    border-top: 1px solid rgba(211, 211, 211, 0.445);
}

.Navleft i {
    font-size: 16pt;
    margin: 50px 200px;
    color: gray
}

.NavBar {
    position: relative;
}

.NavLogo {
    position: absolute;
    left: 660px;
    top: 10px;
}

.NavLogo img:hover {
    cursor: pointer;
}

.NavRight i {
    font-size: 16pt;
    margin: -71px 220px;
    color: gray
}

.NavRight {
    display: flex;
    justify-content: flex-end;
}

.NavRight2 i {
    font-size: 16pt;
    margin: -71px 170px;
    color: gray
}

.NavRight2 {
    display: flex;
    justify-content: flex-end;
}

.NavBar i:hover {
    cursor: pointer;
}

.NavItems ul {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.NavItems li {
    list-style: none;
    padding-top: 80px;
    color: gray;
    font-size: 11pt;
}

.NavItems .H {
    text-decoration: underline;
}

.NavItems li:hover {
    cursor: pointer;
}

.MainImg {
    margin-top: 100px;
}

.MainImg img {
    width: 100%;
}

.ContHead h2 {
    margin-top: 90px;
    padding-left: 200px;
    font-weight: 300;
    font-size: 31pt;
}


.Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.Cards img {
    width: 400px;
}

.Cards h3 {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Cards img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s ease;
}

.Cards h3:hover {
    cursor: pointer;

}

.Cards i:hover {
    cursor: pointer;
    transform: translateX(4px) ;
    transition: .5s ease;
}

.BtnDiv {
    display: flex;
    justify-content: center;
}

.BtnDiv Button {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 130px;
    height: 40px;
    font-size: 14pt;
    font-weight: 300;
    color: white;
    background-color: black;
}

.BtnDiv Button:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: .5s ease;
}

.BannerDiv img {
    width: 100%;
}

.Watchimg img {
    width: auto;
}

.WatchCards img {
    width: 200px;
}

.WatchCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 40px 100px;
}

.CardImg3 .CardTitle h4 {
    padding-top: 25px;
}

.CardImg3 img,
.CardImg4 img,
.CardImg5 img {
    margin-top: 18px;
    width: 260px;
}

.WatchCards h4,
.WatchCards h5 {
    font-weight: 300;
    font-size: 14px;
}

.CardImg5 .CardTitle h4 {
    padding-top: 22px;
}

.CardImg4 .CardTitle h4 {
    padding-top: 5px;
}

.CardPrice {
    padding-top: 15px;
}

.CardPrice h6 {
    font-weight: 300;
    font-size: 15px;
}

.CardPrice h5 {
    text-decoration: line-through;
}
.WatchCards img:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition: .4s ease;

}
.CardTitle:hover { 
    cursor: pointer;
    text-decoration: underline;
    font-weight: 400 ;
}
.CardPrice:hover {
    cursor: pointer;

}


.CardsContent2 .Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
}

.CardsContent2 .Cards img {
    width: 230px;
}
.CardsContent2 .Cards1 img {
    width: 230px;
    height: 230px;
}

.CardsContent2 .Cards h3 {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

.CardsContent2 .Cards img:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s ease;
}

.CardsContent2 .Cards h3:hover {
    cursor: pointer;

}
.CardsContent2 .Cards i:hover {
    cursor: pointer;
    transform: translateX(4px) ;
    transition: .5s ease;
    
}
.Footer {
    
    width: auto;
    
    background-color: black;
}
.CopyRights h4 {
    padding: 100px;
    color: white;
    text-align: center;
}
.animate__animated.animate__wobble{
    --animate-duration: 12s;
}

